/*首页*/
.tl {
    float: left;
}

.tr {
    float: right;
}

.mg0 {
    margin: 0 auto;
}
.index-content span{
    display: inherit;
    text-align: center;
}
.setting-content span{
    position: absolute;
    bottom: 25px;
    right: 20px;
}